<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>汇率转换</title>
    <style>

        select, button{
            height: 30px;
        }
        input{
            height: 20px;
        }
        .div2{
            margin-bottom: 5px ;
        }

        td{
            width: 200px;
            height: 30px;
            text-align: center;
        }

        [colspan] {
            background: red;
        }
        .div1{
            width: 610px;
            margin: 0 auto;
        }

    </style>
    <script src="vue.js"></script>
</head>
<body>

<div id="root" class="div1">
    <div class="div2">
        <select  v-model="valueL" @change="res()">
            <option v-for="item in currencyList" :key="item.id" :value="item.id">{{item.name}}</option>
        </select>

        <button @click="changeLR()">互换</button>

        <select  v-model="valueR" @change="res()">
            <option v-for="item in currencyList" :key="item.id" :value="item.id">{{item.name}}</option>
        </select>

        数额:
        <input v-model="inputStr">

        <button @click="res()">按汇率换算</button>

    </div>
    <table border="1px">
        <tr>
            <td colspan="3">按当前汇率换算结果</td>
        </tr>
        <tr>
            <td v-text="left1"></td>
            <td>汇率</td>
            <td v-text="right1"></td>
        </tr>
        <tr>
            <td v-text="left2"></td>
            <td v-text="center2"></td>
            <td v-text="right2"></td>
        </tr>

    </table>
</div>

<script>
    new Vue({
        el: "#root",
        data:{
            currencyList: [
                {
                    id:0,
                    name:"美元",
                    rate:1
                },
                {
                    id:1,
                    name:"人民币",
                    rate:7
                },
                {
                    id:2,
                    name:"日元",
                    rate:106
                }
            ],
            inputStr: "",
            left1: "",
            right1: "",
            left2: "",
            center2: "",
            right2: "",
            valueL: "1",
            valueR: "2"
        },
        methods: {
            changeLR: function () {
                let tmp = this.valueL;
                this.valueL = this.valueR;
                this.valueR = tmp;
            },
            res: function () {
                if (this.inputStr == "") return;

                this.left1 = this.currencyList[this.valueL].name;
                this.right1 = this.currencyList[this.valueR].name;

                this.left2 = this.inputStr;
                this.center2 = (this.currencyList[this.valueR].rate / this.currencyList[this.valueL].rate).toFixed(6);
                this.right2 = (this.left2 * this.center2).toFixed(6);
            }
        }
    })
</script>


</body>
</html>
